<a href="https://colab.research.google.com/github/kanithasa/pandas/blob/main/Ex_2a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
lst=["E",'a',"s","y"]
values=[90,26,34,12]
re=pd.Series(lst)
sca_series=pd.Series(values,[10,11,12,13])
print(sca_series)
print(re)

10    90
11    26
12    34
13    12
dtype: int64
0    E
1    a
2    s
3    y
dtype: object

In [11]:
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4])
series=pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
print("value at the index 0:", series[0])
print("slicing\n")
print(series[0:])
print(series.values)

value at the index 0: 1
slicing

0    1
1    2
2    3
3    4
dtype: int64
[1 2 3 4]

In [17]:
marks={"social":90,"maths":98,"science":97,"tamil":78,"english":78,"cs":None}
dic_series=pd.Series(marks,name="Student_marks")
print(dic_series)
dic_series.index.name="Subject"
# dic_series.value.name="Mark"
print(dic_series)
print("Name of the series:",dic_series.name)

social     90.0
maths      98.0
science    97.0
tamil      78.0
english    78.0
cs          NaN
Name: Student_marks, dtype: float64
Subject
social     90.0
maths      98.0
science    97.0
tamil      78.0
english    78.0
cs          NaN
Name: Student_marks, dtype: float64
Name of the series: Student_marks

In [14]:
key=input("enter key:")
print(f"{key}:",dic_series[key])
print(dic_series.index)

enter key:social
social: 90.0
Index(['social', 'maths', 'science', 'tamil', 'english', 'cs'], dtype='object', name='Subject')

In [15]:
print("values:",dic_series.values)
print("size of the series:",dic_series.size)
print("check whether series is empty or not:",dic_series.empty)

values: [90. 98. 97. 78. 78. nan]
size of the series: 6
check whether series is empty or not: False

In [16]:

print("count no of items which dont have null values:",dic_series.count())
print("Head of the series:\n",dic_series.head(3),"\n")
print("Tail of the series:\n",dic_series.tail(2))

count no of items which dont have null values: 5
Head of the series:
 Subject
social     90.0
maths      98.0
science    97.0
Name: Student_marks, dtype: float64

Tail of the series:
 Subject
english    78.0
cs          NaN
Name: Student_marks, dtype: float64

In [2]:
#Addition ,subtraction,multiplication,division of two series:
import pandas as pd
num1=pd.Series([1,2,3,4,5,6])
num2=pd.Series([10,11,12,13,14,15])
addition=num1+num2
subt=num2-num1
mult=num1*num2
div=num2/num1
print("Addition of series:\n",addition)
print("\nSubtraction of series:\n",subt)
print("\nMultiplication of series:\n",mult)
print("\nDivision of series:\n",div)

Addition of series:
 0    11
1    13
2    15
3    17
4    19
5    21
dtype: int64

Subtraction of series:
 0    9
1    9
2    9
3    9
4    9
5    9
dtype: int64

Multiplication of series:
 0    10
1    22
2    36
3    52
4    70
5    90
dtype: int64

Division of series:
 0    10.00
1     5.50
2     4.00
3     3.25
4     2.80
5     2.50
dtype: float64

In [40]:
import pandas as pd
#a.Create empty data frame
df=pd.DataFrame()
print("6.a) Create empty data frame\n")
print(df)
#b.Creation of DataFrame from NumPy nd arrays
import numpy as np
n_arr=np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]])
df=pd.DataFrame(n_arr,columns=["A","B","C","D","E"])
print("\n6.b) DataFrame from NumPy nd arrays:\n")
print(df)

#c.Creation of DataFrame from List of Dictionaries
dc=[{"maths":90,"science":99,"social":90,"tamil":89,"english":93}]
li_dc=pd.DataFrame(dc)
print("\n6.c) Creation of DataFrame from List of Dictionaries\n")
print(li_dc)

#d.Creation of DataFrame from Dictionary of Lists
dic={"maths":[89,99,100],"science":[90,89,67],"social":[88,99,100]}
dic_li=pd.DataFrame(dic)
print("\n6.d) Creation of DataFrame from Dictionary of Lists\n")
print(dic_li)

#e.Creation of DataFrame from Series
se=pd.Series(["Apple","Mango","Orange"],name="Fruit name")
se1=pd.Series([90,89,67],name="Cost")
df_Se=pd.DataFrame({"Fruit name":se,"Cost":se1})
print("\n6.e) Creation of DataFrame from Series\n")
print(df_Se)

#f.Creation of DataFrame from Dictionary of Series
dic={"Fruits":pd.Series(["Apple","Orange","Mango"]),"Cost":pd.Series([89,23,56])}
dic_series=pd.DataFrame(dic)
print("\n6.f) Creation of DataFrame from Dictionary of Series\n")
print(dic_series)

6.a) Create empty data frame

Empty DataFrame
Columns: []
Index: []

6.b) DataFrame from NumPy nd arrays:

    A   B   C   D   E
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

6.c) Creation of DataFrame from List of Dictionaries

   maths  science  social  tamil  english
0     90       99      90     89       93

6.d) Creation of DataFrame from Dictionary of Lists

   maths  science  social
0     89       90      88
1     99       89      99
2    100       67     100

6.e) Creation of DataFrame from Series

  Fruit name  Cost
0      Apple    90
1      Mango    89
2     Orange    67

6.f) Creation of DataFrame from Dictionary of Series

   Fruits  Cost
0   Apple    89
1  Orange    23
2   Mango    56

In [41]:
#7.a) Adding a New Column to a DataFrame
print("before adding column:\n")
print(dic_series)
dic_series["available quantity"]=[4,2,5]
print("\nAfter adding column\n")
print("7.a) Adding a New Column to a DataFrame:\n")
print(dic_series)

#7.b) Adding a New Row to a DataFrame
print("\nbefore adding row\n")
print(dic_series)
print("\n After adding row\n")
print("\n7.b) Adding a New Row to a DataFrame\n")
new={"Fruits":"Jackfruit","Cost":73,"available quantity":3}
new_df=pd.DataFrame([new])
dic_series=pd.concat([dic_series,new_df],ignore_index=True)
print(dic_series)
#7.c) Deleting Rows or Columns from a DataFrame
print("\n Delete row:\n")
dic_series=dic_series.drop(0)
print(dic_series)

print("\n Delete column:\n")
dic_series=dic_series.drop("available quantity",axis=1)
print(dic_series)


#7.d) Renaming Row Labels of a DataFrame
data = {'Name': ['Ammu', 'Amutha', 'Shanumgam'],'Age': [25, 30, 35]}
df = pd.DataFrame(data, index=['A', 'B', 'C'])
df = df.rename(index={'B':2})
df = df.rename(index={'A':1})
df = df.rename(index={'C':3})
print("\n Renaming row\n")
print(df)

before adding column:

   Fruits  Cost
0   Apple    89
1  Orange    23
2   Mango    56

After adding column

7.a) Adding a New Column to a DataFrame:

   Fruits  Cost  available quantity
0   Apple    89                   4
1  Orange    23                   2
2   Mango    56                   5

before adding row

   Fruits  Cost  available quantity
0   Apple    89                   4
1  Orange    23                   2
2   Mango    56                   5

 After adding row


7.b) Adding a New Row to a DataFrame

      Fruits  Cost  available quantity
0      Apple    89                   4
1     Orange    23                   2
2      Mango    56                   5
3  Jackfruit    73                   3

 Delete row:

      Fruits  Cost  available quantity
1     Orange    23                   2
2      Mango    56                   5
3  Jackfruit    73                   3

 Delete column:

      Fruits  Cost
1     Orange    23
2      Mango    56
3  Jackfruit    73

 Renaming row

        Name  Age
1       Ammu   25
2     Amutha   30
3  Shanumgam   35

In [46]:
#8.a) Label Based Indexing
print(df)
print("\nAccessing a single element by label\n")
value = df.loc[1, 'Age']
print(value)  # Output: 30

print("\nAccessing a single column by label\n")
column = df.loc[:, 'Name']
print(column)
#8.b) Boolean Indexing

filt_df = df[df['Age'] > 25]
print("\n Boolean indexing\n")
print(filt_df)

        Name  Age
1       Ammu   25
2     Amutha   30
3  Shanumgam   35

Accessing a single element by label

25

Accessing a single column by label

1    25
2    30
3    35
Name: Age, dtype: int64

 Boolean indexing

        Name  Age
2     Amutha   30
3  Shanumgam   35

In [49]:
#9.Accessing DataFrames Element through Slicing
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4', 'row5'])

# Slicing rows and columns using .loc[]
sliced_df = df.loc['row1':'row4', 'A':'B']
print("\nSlicing rows and columns using .loc[]\n")
print(sliced_df)
# Slicing rows and columns using .iloc[]
print("\nSlicing rows and columns using .iloc[]\n")
sliced_df = df.iloc[1:4, 0:2]
print(sliced_df)

#Filtering Rows in DataFrames
print("\nFiltering Rows in DataFrames\n")
filt_df = df[df['B'] > 25]
print(filt_df)

Slicing rows and columns using .loc[]

      A   B
row1  1  10
row2  2  20
row3  3  30
row4  4  40

Slicing rows and columns using .iloc[]

      A   B
row2  2  20
row3  3  30
row4  4  40

Filtering Rows in DataFrames

      A   B
row3  3  30
row4  4  40
row5  5  50

In [50]:
#10.Joining

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],'value1': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],'value2': [5, 6, 7, 8]})

result_inner = pd.merge(df1, df2, on='key', how='inner')
print("\n Inner join\n")
print(result_inner)

print("\nLeft join\n")
result_left = pd.merge(df1, df2, on='key', how='left')
print(result_left)


print("\n Outer join\n")
result_outer = pd.merge(df1, df2, on='key', how='outer')
print(result_outer)

 Inner join

  key  value1  value2
0   B       2       5
1   D       4       6

Left join

  key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

 Outer join

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     5.0
2   C     3.0     NaN
3   D     4.0     6.0
4   E     NaN     7.0
5   F     NaN     8.0

In [8]:
#11.Attributes of dataframe
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
shape = df.shape  # Returns (3, 2)
print("\n Shape\n")
print(shape)

columns = df.columns  # Returns Index(['A', 'B'], dtype='object')
print("\n column\n")
print(columns)
index = df.index  # Returns RangeIndex(start=0, stop=3, step=1)
print("\nindex\n")
print(index)
print("\ndatatypes\n")
dtypes = df.dtypes
print(dtypes)
print("\nFirst 5 rows\n")
first_five_rows = df.head()
print(first_five_rows)
print("\nLast five rows\n")
last_five_rows = df.tail()
print(last_five_rows)

print("\n information:\n",df.info())


#Importing a CSV File to a DataFrame:
print("\nImporting a CSV File to a DataFrame:\n")
# Import data from a CSV file
df = pd.read_csv('/file.csv')

# Print the DataFrame
print(df)
#Exporting a DataFrame to a CSV File:
print("\nExporting a DataFrame to a CSV File:\n")

# Create or obtain a DataFrame (e.g., df)
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Export the DataFrame to a CSV file
df.to_csv('output.csv', index=False)  # Set index=False to exclude row index in the output
print(df)

 Shape

(3, 2)

 column

Index(['A', 'B'], dtype='object')

index

RangeIndex(start=0, stop=3, step=1)

datatypes

A    int64
B    int64
dtype: object

First 5 rows

   A  B
0  1  4
1  2  5
2  3  6

Last five rows

   A  B
0  1  4
1  2  5
2  3  6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

 information:
 None

Importing a CSV File to a DataFrame:

      Name  Age     Location
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Exporting a DataFrame to a CSV File:

   A  B
0  1  4
1  2  5
2  3  6