<a href="https://colab.research.google.com/github/kanithasa/pandas/blob/main/modified_version_ex2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
import pandas as pd

# Create a dictionary with sales data
data = {
    '2014': [100.5, 150.8, 200.9,30000],
    '2015': [12000, 18000, 22000, 30000],
    '2016': [20000, 50000, 70000, 100000]}


# Create the DataFrame with row and column labels
sales_df = pd.DataFrame(data, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit'])

# Print the DataFrame
print(sales_df)

            2014   2015    2016
Madhu      100.5  12000   20000
Kusum      150.8  18000   50000
Kinshuk    200.9  22000   70000
Ankit    30000.0  30000  100000

In [75]:
row_labels = sales_df.index
print("Row labels of Sales:")
print(row_labels)

Row labels of Sales:
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit'], dtype='object')

In [76]:
column_labels = sales_df.columns
print("\nColumn labels of Sales:")
print(column_labels)

Column labels of Sales:
Index(['2014', '2015', '2016'], dtype='object')

In [77]:
data_types = sales_df.dtypes
print("\nData types of each column of Sales:")
print(data_types)

Data types of each column of Sales:
2014    float64
2015      int64
2016      int64
dtype: object

In [78]:
dimensions = sales_df.ndim
shape = sales_df.shape
size = sales_df.size
values = sales_df.values

print("\nDimensions of Sales:", dimensions)
print("Shape of Sales:", shape)
print("Size of Sales:", size)
print("\nValues of Sales:")
print(values)

Dimensions of Sales: 2
Shape of Sales: (4, 3)
Size of Sales: 12

Values of Sales:
[[   100.5  12000.   20000. ]
 [   150.8  18000.   50000. ]
 [   200.9  22000.   70000. ]
 [ 30000.   30000.  100000. ]]

In [79]:
last_two_rows = sales_df.tail(2)
print("\nLast two rows of Sales:")
print(last_two_rows)

Last two rows of Sales:
            2014   2015    2016
Kinshuk    200.9  22000   70000
Ankit    30000.0  30000  100000

In [80]:
first_two_columns = sales_df.iloc[:, :2]
print("\nFirst two columns of Sales:")
print(first_two_columns)

First two columns of Sales:
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000

In [115]:
data2 = {
    '2017': [16000, 11000, 50000, 34000]
}

sales2_df = pd.DataFrame(data2, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit'])
print("\nSales2 DataFrame:")
print(sales2_df)

Sales2 DataFrame:
          2017
Madhu    16000
Kusum    11000
Kinshuk  50000
Ankit    34000

In [102]:
if sales2_df.empty:
    print("\nSales2 DataFrame is empty.")
else:
    print("\nSales2 DataFrame contains data.")

Sales2 DataFrame contains data.

In [116]:
combined_sales = pd.concat([sales_df, sales2_df], axis=1)
print("Combined Sales DataFrame:")
print(combined_sales)

Combined Sales DataFrame:
            2014   2015    2016   2017
Madhu      100.5  12000   20000  16000
Kusum      150.8  18000   50000  11000
Kinshuk    200.9  22000   70000  50000
Ankit    30000.0  30000  100000  34000

In [85]:
transposed_sales = sales_df.transpose()
print("\nTransposed Sales DataFrame:")
print(transposed_sales)

Transposed Sales DataFrame:
        Madhu    Kusum  Kinshuk     Ankit
2014    100.5    150.8    200.9   30000.0
2015  12000.0  18000.0  22000.0   30000.0
2016  20000.0  50000.0  70000.0  100000.0

In [104]:
sales = combined_sales['2017']
print("\nSales in 2017:")
print(sales)

Sales in 2017:
Madhu      16000
Kusum      11000
Kinshuk    50000
Ankit      34000
Name: 2017, dtype: int64

In [117]:
# Specify the default value for the new column
default_value = 0

# Use the .assign() method to add the new column with the default value
combined_sales = combined_sales.assign(**{'2018': default_value})

# Print the updated DataFrame
print("Updated DataFrame with the '2018' column containing default values:")

print(combined_sales)

Updated DataFrame with the '2018' column containing default values:
            2014   2015    2016   2017  2018
Madhu      100.5  12000   20000  16000     0
Kusum      150.8  18000   50000  11000     0
Kinshuk    200.9  22000   70000  50000     0
Ankit    30000.0  30000  100000  34000     0

In [118]:
sales_madhu_ankit = combined_sales.loc[['Madhu', 'Ankit'], ['2017', '2018']]
print("\nSales made by Madhu and Ankit in 2017 and 2018:")
print(sales_madhu_ankit)

Sales made by Madhu and Ankit in 2017 and 2018:
        2017  2018
Madhu  16000     0
Ankit  34000     0

In [119]:
combined_sales.loc['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print("\nUpdated Sales DataFrame with Sumeet's data:")
print(combined_sales)

Updated Sales DataFrame with Sumeet's data:
            2014     2015      2016     2017     2018
Madhu      100.5  12000.0   20000.0  16000.0      0.0
Kusum      150.8  18000.0   50000.0  11000.0      0.0
Kinshuk    200.9  22000.0   70000.0  50000.0      0.0
Ankit    30000.0  30000.0  100000.0  34000.0      0.0
Sumeet     196.2  37800.0   52000.0  78438.0  38852.0

In [120]:
combined_sales = combined_sales.drop(columns='2014')
print("\nSales DataFrame after deleting data for 2014:")
print(combined_sales)

Sales DataFrame after deleting data for 2014:
            2015      2016     2017     2018
Madhu    12000.0   20000.0  16000.0      0.0
Kusum    18000.0   50000.0  11000.0      0.0
Kinshuk  22000.0   70000.0  50000.0      0.0
Ankit    30000.0  100000.0  34000.0      0.0
Sumeet   37800.0   52000.0  78438.0  38852.0

In [121]:
combined_sales= combined_sales.drop('Kinshuk', axis=0)
print("\nSales DataFrame after deleting Kinshuk's data:")
print(combined_sales)

Sales DataFrame after deleting Kinshuk's data:
           2015      2016     2017     2018
Madhu   12000.0   20000.0  16000.0      0.0
Kusum   18000.0   50000.0  11000.0      0.0
Ankit   30000.0  100000.0  34000.0      0.0
Sumeet  37800.0   52000.0  78438.0  38852.0

In [122]:
combined_sales= combined_sales.rename(index={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'})
print("\nSales DataFrame with updated names:")
print(combined_sales)

Sales DataFrame with updated names:
             2015      2016     2017     2018
Shailesh  12000.0   20000.0  16000.0      0.0
Kusum     18000.0   50000.0  11000.0      0.0
Vivaan    30000.0  100000.0  34000.0      0.0
Sumeet    37800.0   52000.0  78438.0  38852.0

In [131]:
combined_sales.loc['Shailesh', '2018'] = 100000
print("\nSales DataFrame with updated value for Shailesh in 2018:")
print(combined_sales)

Sales DataFrame with updated value for Shailesh in 2018:
             2015      2016     2017      2018
Shailesh  12000.0   20000.0  16000.0  100000.0
Kusum     18000.0   50000.0  11000.0       0.0
Vivaan    30000.0  100000.0  34000.0       0.0
Sumeet    37800.0   52000.0  78438.0   38852.0

In [133]:
combined_sales.to_csv("SalesFigures.csv", index=False, header=False)

In [134]:
sales_retrieved = pd.read_csv("SalesFigures.csv", header=None)
sales_retrieved.index = combined_sales.index
sales_retrieved.columns = combined_sales.columns
print("\nSalesRetrieved DataFrame:")
print(sales_retrieved)

SalesRetrieved DataFrame:
             2015      2016     2017      2018
Shailesh  12000.0   20000.0  16000.0  100000.0
Kusum     18000.0   50000.0  11000.0       0.0
Vivaan    30000.0  100000.0  34000.0       0.0
Sumeet    37800.0   52000.0  78438.0   38852.0