In [11]:
import pandas as pd
lst=["E",'a',"s","y"]
values=[90,26,34,12]
re=pd.Series(lst)
sca_series=pd.Series(values,[10,11,12,13])
print(sca_series)
print(re)

10    90
11    26
12    34
13    12
dtype: int64
0    E
1    a
2    s
3    y
dtype: object

In [17]:
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4])
series=pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
print(series[0])
print(series[0:])
print(series.values)

1
0    1
1    2
2    3
3    4
dtype: int64
[1 2 3 4]

In [36]:
marks={"social":90,"maths":98,"science":97,"tamil":78,"english":78,"cs":None}
dic_series=pd.Series(marks,name="Student_marks")
dic_series.index.name="Subject"
# dic_series.value.name="Mark"
print(dic_series)
print("Name of the series:",dic_series.name)

Subject
social     90.0
maths      98.0
science    97.0
tamil      78.0
english    78.0
cs          NaN
Name: Student_marks, dtype: float64
Name of the series: Student_marks

In [38]:
key=input("enter key:")
print(f"{key}:",dic_series[key])
print(dic_series.index)
print("count no of items which dont have null values:",dic_series.count())

enter key:maths
maths: 98.0
Index(['social', 'maths', 'science', 'tamil', 'english', 'cs'], dtype='object', name='Subject')
count no of items which dont have null values: 5

In [32]:
print("values:",dic_series.values)
print("size of the series:",dic_series.size)
print("check whether series is empty or not:",dic_series.empty)

values: [90 98 97 78 78]
size of the series: 5
check whether series is empty or not: False

In [39]:
print(dic_series.index,"\n")
print("Head of the series:\n",dic_series.head(3),"\n")
print("Tail of the series:\n",dic_series.tail(2))

Index(['social', 'maths', 'science', 'tamil', 'english', 'cs'], dtype='object', name='Subject')

Head of the series:
 Subject
social     90.0
maths      98.0
science    97.0
Name: Student_marks, dtype: float64

Tail of the series:
 Subject
english    78.0
cs          NaN
Name: Student_marks, dtype: float64

In [40]:
#Addition ,subtraction,multiplication,division of two series:
num1=pd.Series([1,2,3,4,5,6])
num2=pd.Series([10,11,12,13,14,15])
addition=num1+num2
subt=num2-num1
mult=num1*num2
div=num2/num1
print("Addition of series:\n",addition)
print("\nSubtraction of series:\n",subt)
print("\nMultiplication of series:\n",mult)
print("\nDivision of series:\n",div)

Addition of series:
 0    11
1    13
2    15
3    17
4    19
5    21
dtype: int64

Subtraction of series:
 0    9
1    9
2    9
3    9
4    9
5    9
dtype: int64

Multiplication of series:
 0    10
1    22
2    36
3    52
4    70
5    90
dtype: int64

Division of series:
 0    10.00
1     5.50
2     4.00
3     3.25
4     2.80
5     2.50
dtype: float64